@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-color-primary {
    @apply text-slate-900;
  }
  .text-color-secondary {
    @apply text-slate-700;
  }
  .text-color-tertiary {
    @apply text-gray-600;
  }
  .text-color-quarternary {
    @apply text-slate-500;
  }
  .text-balance {
    text-wrap: balance;
  }
}
